[class^=col] {
    padding-top: 10px;
    padding-bottom: 10px;
}

.green {
    background-color: rgb(15, 175, 114);
}

.gray {
    background-color: rgb(59, 59, 59);
}

.black {
    background-color: black;
}

.navbar-my-theme {
    margin-bottom: 0;
}

.navbar-my-theme a {
    color: white;
}

.my-img-container {
    max-width: 200px;
}

.row-small {
    max-width: 780px;
}