[class^=col] {
    padding-top: 10px;
    padding-bottom: 10px;
}

.green {
    background-color: rgb(15, 175, 114);
}

.gray {
    background-color: rgb(59, 59, 59);
}

.black {
    background-color: black;
}

.navbar-my-theme {
    margin-bottom: 0;
}

.navbar-my-theme a {
    color: white;
}

.my-img-container {
    max-width: 200px;
}

.row-small {
    max-width: 780px;
}

.text-uppercase {
    color: white;
}

.green2 {
    color: green;
}

.glyphicon.glyphicon-star {
    font-size: 30px;
    display: inline-block;
}

hr {
    display: inline-block;
}

.centered {
    margin: 0 auto;
    width: 800px;
    position: relative;
}

.padding1 {
    padding-top: 30px;
    padding-bottom: 30px;
}